@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'fontello';
    src: url('./fonts/fontello.ttf')
}

body{
    font-family: 'Montserrat';
}

header{
    display: inline-flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;
    width: 1440px;
    height: 70px;
    background-color: #fff;
    align-items: center;
}
.logo{
    margin-left: 140px;
}
.nav{
    display: inline-flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);

}
.cont__menu{
    display: inline-flex;
   
    margin-right: 50px;
}

.fa-angle-down{
    font-size: 20px;
    font-weight: 400;
}
.drop__down{
    transform: translate(0,1.5px);
    padding-left: 5px;
    font-size: 15px;
    height: 10px;
    opacity: .4;
}

.nav__item{
    margin-left: 20px;
    padding-top: 9px;
}

.go__in{
    color: #BC9CFF;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;
    border: 2px solid #BC9CFF;
    font-size: 14px;
    border-radius: 15px;
    background-color: #fff;
    padding: 9px 20px 8px 20px;

}

.register{
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 14px;
    border:.1px solid #fff;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
    color: #fff;
    border-radius: 15px;
    padding: 9px 20px 8px 20px;
    margin-right: 140px;
}

.general__cont{
    background-image: url("./img/image 3.png");
    width: 1440px;
    height: 900px;
    position: absolute;
}

.order{
    position: absolute;
    line-height: 30px;
    height: 374px;
    width: 380px;
    margin-left: 140px;
    margin-top: 140px;
    border-radius: 4px;
    background-color: #fff;    
}

.order p {
    width: 320px;
    height: 60px;
    margin-left: 30px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;

}

.form__name {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;

}

.dates{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    width: 320px;
    display: flex;
    justify-content: space-around;
}

.arriving{
    width: 150px;
    height: 65px;
}
.departure{
    width: 150px;
    height: 65px;
    margin-left: 20px;
}

.input__date{
    width: 150px;
    padding: 0;
    height: 44px;
}

.input__guest{
    width: 320px;
    height: 44px;
    padding: 0;
}

.guests{
    width: 320px;
    margin-left: 30px;
    margin-top: 15px;
}

.book{
    position: relative;
    color: #fff;
    height: 44px;
   
    margin-top: 31px;
    margin-left: 30px;
    width: 320px;
    padding: 0;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;
    border-radius: 25px;
}

.book span{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.arrow{
    stroke: #fff;
    fill: #fff;
}

